$red: #e84c3d;
$green: #91e875;
$yellow: #ffb300;
$grey: #ecedef;
$black: #343434;

.buttonPrize{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: block;
  background-size: cover !important;
  span{
    transition: all 0.6s ease;
    overflow: hidden;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &::after{
      content:'';
      display: block;
      position: absolute;
      bottom:-50px;
      left: -60px;
      width: 90px;
      height: 90px;
      background: rgba(255, 179, 0, 0.65);
      z-index: -1;
      box-shadow: 0px 0px 120px #024768, 0px 0px 120px #04B0BC, 0px 0px 120px #33C9C7, 0px 0px 120px #94DFDD,0px 0px 120px #97D3D3;
      transition: all 0.3s ease;
      transform: rotate(-45deg);

    }
    &:hover::after{
      box-shadow: 40px -20px 0px #024768,41px -20px 8px rgba(0,0,0,0.3), 80px 20px 0px #04B0BC,81px 20px 8px rgba(0,0,0,0.3), 120px 60px 0px #22CBCB,121px 60px 8px rgba(0,0,0,0.3), 160px 100px 0px #94DFDD,161px 100px 8px rgba(0,0,0,0.3),200px 120px 0px #97D3D3;
    }
    &:hover{
      box-shadow: 4px 34px 24px rgba(0,0,0,0.3);
    }
  }



}

.cardWrap {
  width: 315px;
  color: #fff;
  font-family: sans-serif;
}

.cardWin {
  background: linear-gradient(to bottom, $green 0%, $green 30%, $grey 30%, $grey 100%);
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  margin-bottom: 10px;
}

.card {
  background: linear-gradient(to bottom, $yellow 0%, $yellow 35%, $grey 35%, $grey 100%);
  height: 9em;
  float: left;
  position: relative;
  padding: 1em;
  margin-bottom: 10px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
}

.cardRight {
  width: 6.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
    bottom: -.4em;
  }
}

h1 {
  font-size: 1.1em;
  margin-top: 0;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
    font-size: .9em;
    color: #525252;
    margin: 0;
  }
  span {
    font-size: .7em;
    color: #a2aeae;
  }
}

.title {
  margin: 2em 0 0 0;
}

.name, .seat {
  margin: .7em 0 0 0;
}

.time {
  margin: .7em 0 0 1em;
}

.seat, .time {
  float: left;
}

.eye {
  position: relative;
  width: 2em;
  height: 1.5em;
  background: #fff;
  margin: 0 auto;
  border-radius: 1em/0.6em;
  z-index: 1;
  &:before, &:after {
    content:"";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  &:before {
    width: 1em;
    height: 1em;
    background: $red;
    z-index: 2;
    left: 8px;
    top: 4px;
  }
  &:after {
    width: .5em;
    height: .5em;
    background: #fff;
    z-index: 3;
    left: 12px;
    top: 8px;
  }
}

.number {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $red;
    margin: .9em 0 0 0;
    font-size: 2.5em;

  }
  span {
    display: block;
    color: #a2aeae;
  }
}

.barcode {
  height: 2em;
  width: 0;
  margin: 1.2em 0 0 .8em;
  box-shadow: 1px 0 0 1px $black,
  5px 0 0 1px $black,
  10px 0 0 1px $black,
  11px 0 0 1px $black,
  15px 0 0 1px $black,
  18px 0 0 1px $black,
  22px 0 0 1px $black,
  23px 0 0 1px $black,
  26px 0 0 1px $black,
  30px 0 0 1px $black,
  35px 0 0 1px $black,
  37px 0 0 1px $black,
  41px 0 0 1px $black,
  44px 0 0 1px $black,
  47px 0 0 1px $black,
  51px 0 0 1px $black,
  56px 0 0 1px $black,
  59px 0 0 1px $black,
  64px 0 0 1px $black,
  68px 0 0 1px $black,
  72px 0 0 1px $black,
  74px 0 0 1px $black,
  77px 0 0 1px $black,
  81px 0 0 1px $black;
}